root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{cs,csx}]
indent_size = 4
csharp_new_line_before_open_brace = all
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_namespace_declarations = file_scoped:warning

# Don't fail builds on these during scaffolding
dotnet_diagnostic.CA1848.severity = none
dotnet_diagnostic.CA1873.severity = none
dotnet_diagnostic.MVVMTK0045.severity = suggestion
dotnet_diagnostic.CA1014.severity = none
dotnet_diagnostic.CA2007.severity = none
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.IDE0005.severity = suggestion

[*.{yml,yaml,json}]
indent_size = 2

[*.{csproj,props,targets,xml}]
indent_size = 2

[*.{xaml}]
indent_size = 2
